{
	"env": {
		"browser": true,
		"node": true
	},

	"globals": {

	},

	"rules": {
		"camelcase": [2, {"properties": "always"}],
		"dot-notation": [2, {"allowPattern": "^[a-z]+((_|-)?[a-z]+)+$"}]
	}
}