<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Angular Models - Demo</title>
	<!-- bower:js -->
	<script src="../vendors/angular/angular.js"></script>
	<script src="../vendors/lodash/lodash.js"></script>
	<script src="../vendors/angular-mocks/angular-mocks.js"></script>
	<!-- endbower -->
</head>
<body>
	<div ng-controller="appCtrl as mv">
		<ul>
			<li ng-repeat="person in mv.persons.models">
				<!-- <div ng-bind="::person.attributes.name"></div> -->
				<div>
					<span ng-bind="person.get('name')"></span>
					<button ng-click="person.save()">save</button>
					<input type="text" ng-model="person.attributes.name">
				</div>
			</li>
		</ul>
		<div>Total models: <span ng-bind="mv.persons.length"></span></div>
		<hr>
		<form name="form" ng-submit="mv.formSubmit()">
			<input type="text" ng-model="mv.model.name">
			<input type="submit" value="Add">
			<input type="reset" value="Reset">
		</form>
	</div>
	<div ng-controller="appCtrl as mv">
		<ul>
			<li ng-repeat="person in mv.persons.models">
				<!-- <div ng-bind="::person.attributes.name"></div> -->
				<div>
					<span ng-bind="person.get('name')"></span>
					<button ng-click="person.save()">save</button>
					<input type="text" ng-model="person.attributes.name">
				</div>
			</li>
		</ul>
		<div>Total models: <span ng-bind="mv.persons.length"></span></div>
		<hr>
		<form name="form" ng-submit="mv.formSubmit()">
			<input type="text" ng-model="mv.model.name">
			<input type="submit" value="Add">
			<input type="reset" value="Reset">
		</form>
		<section>
			<button ng-click="mv.getWithParams()">Sunc with Params</button>
		</section>
	</div>
	<!-- injector:js -->
	<script src="../dist/angular.models.js"></script>
	<script src="../demo/app/app.js"></script>
	<!-- endinjector -->
</body>
</html>